body {
  background-color: #d4d4d4 !important;
  color: #1d1c1c !important;
}

.row {
  height: 100vh;
}

.dark-mode {
  background-color: #1d1c1c !important;
  color: #fff !important;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
  height: 400px;
}

.app-section {
  background-color: #575757;
  flex: 1;
  text-align: center;
  font-size: 18px;
  border: 1px solid #1d1c1c;
}

.light-mode .custom-panel {
  background-color: #2f2f2f !important;
  color: white !important;
  border-color: #333 !important;
}

.light-mode .monaco-editor {
  background-color: #1a1a1a !important;
}